[submodule "Carthage/Checkouts/RichJSONParser"]
	path = Carthage/Checkouts/RichJSONParser
	url = https://github.com/omochi/RichJSONParser.git
[submodule "Carthage/Checkouts/OrderedDictionary"]
	path = Carthage/Checkouts/OrderedDictionary
	url = https://github.com/omochi/OrderedDictionary.git
